---
import { footerInfo } from "../../data/database";
---

<footer class="Footer">
  <div class="Container">
    <div class="Footer-claim">
      <p>
        {footerInfo.claim}
      </p>
    </div>
    <div class="Footer-main">
      <a class="Brand" href="/">
        <img src="assets/brand.png" alt="" class="Brand-image" />
      </a>
      <div class="Footer-contact">
        <h4>Contacto</h4>
        <p>
          {footerInfo.contact.address}
          {footerInfo.contact.phone}
        </p>
      </div>
      <div class="Footer-socialbar">
        <a
          href={footerInfo.social[0].link}
          class="Footer-social"
          title={footerInfo.social[0].title}>
          <img
            src={footerInfo.social[0].icon}
            alt={footerInfo.social[0].title}
          />
        </a>
        <a
          href={footerInfo.social[1].link}
          class="Footer-social"
          title={footerInfo.social[1].title}>
          <img
            src={footerInfo.social[1].icon}
            alt={footerInfo.social[1].title}
          />
        </a>
        <a
          href={footerInfo.social[2].link}
          class="Footer-social"
          title={footerInfo.social[2].title}>
          <img
            src={footerInfo.social[2].icon}
            alt={footerInfo.social[2].title}
          />
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .Footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: #c6ab66;
    color: white;

    &-claim {
      width: 100%;
    }

    &-main {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      div,
      a {
        flex: 1;
      }

      svg {
        color: white;
      }
    }
  }
</style>
