---
import data from "../../data/database";
---

<footer class="Footer">
  <div class="Container">
    <div class="Footer-claim">
      <p>
        {data.footerInfo.claim}
      </p>
    </div>
    <div class="Footer-main">
      <a class="Brand" href="/">
        <img src="assets/brand.png" alt="" class="Brand-image" />
      </a>
      <div class="Footer-contact">
        <h4>Contacto</h4>
        <p>
          {data.footerInfo.contact.address}
          {data.footerInfo.contact.phone}
        </p>
      </div>
      <div class="Footer-socialbar">
        {data.footerInfo.social.map(item => (
          <a
            href={item.link}
            class="Footer-social"
            title={item.title}
          >
            <img
              src={item.icon}
              alt={item.title}
            />
          </a>
        ))}
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .Footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: #c6ab66;
    color: white;

    &-claim {
      width: 100%;
    }

    &-main {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      div,
      a {
        flex: 1;
      }

      svg {
        color: white;
      }
    }
  }
</style>
